.main {
    margin: 5% 10%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.cardContainer{
    align-self: center;
    flex-grow: 1;
    border: 2px solid #3333333a;
    border-radius: 8px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
}