.form{
    border: 2px solid #3333333a;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formHeader{
    align-self: center;
    font-size: large;
    font-weight: 600;
}

.dialog{
    max-height: 600px;
}
