.cardText{
    white-space: pre-line;
    mask-image: linear-gradient(180deg, #000 60%, transparent)
}

.card{
    background-color: beige;
    transition: all 250ms ease-in-out;
    min-width: 150px;
    overflow: hidden;
    cursor: pointer;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.notesForm{
    display: grid;
    grid-gap: 1rem;
}

.noteButtons{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
