.nav{
    color: white;
    padding: 1.5rem 10rem; 
    margin: 1rem;
    border-radius: 50px;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav h1 {
    font-size:x-large;
    font-weight: 700;
}

.navLists {
    display: flex;
}

.navLists li {
    margin: 0 2rem;
}