.notesContainer{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2% 10%;
    display: flex;
    gap: 2rem;
}
.noteCardContainer{
    flex: 1 0 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.addNoteContainer{
    flex: 1 0 5rem;
}