.notesContainer{
    height: 80svh;
    padding: 1% 10%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
    "notes"
    "form";
}

.noteCardContainer{
    grid-area: notes;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 200px);
}

.addNoteContainer{
    grid-area: form
}

@media (min-width: 560px){
    .notesContainer{
        grid-template-areas: 
        "notes"
        "form";
    }
}

@media(min-width: 900px){
    .notesContainer{
        grid-template-areas: 
        "notes notes form"
        "notes notes form";
    }
}